.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 480px;
    margin: 20px 10px;
    scale: 1;
    transition: 0.3s;
    cursor: pointer;


    img {


    }

    .stars {
        margin: 0 5px;
    }

    h4 {
        margin: 0 5px;
    }
}

.card:hover {
    scale: 1.05;
    box-shadow: 0 0 15px #a7a7a7;
}

