.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  scroll-behavior: none;
}

.light {
  --background_color_darker: #ebebeb;
  --background_color_lighter: #ffffff;
  --background_color_lighter2: #f5f5f5;
  --contrast_element_color: #464646;
  --text_color: #2b2b2b;
  --text_color_opposite: #ebebeb;
  --buttons_background_color: #9d9deb;
  --buttons_background_color_hover: #7070ab;
}

.dark {
  --background_color_darker: #363636;
  --background_color_lighter: #656565;
  --background_color_lighter2: #7f7f7f;
  --contrast_element_color: #d4d4d4;
  --text_color: #ebebeb;
  --text_color_opposite: #2b2b2b;
  --buttons_background_color: #9d9deb;
  --buttons_background_color_hover: #7070ab;
}
